header{
    background: crimson;
    text-align: right;
    color: black;
    font-size: 1.8em;

}
button{
    background: greenyellow;
    padding: 40px;
    padding-top: 10px;
    height: 15%;
    box-sizing: border-box;
    width: 200px;
    position: absolute;
    top: 10%;
    display: flex;
    border-radius: 8px;
    font-size: 1.3em;
    cursor: pointer;
    color: darkgreen;
}
#nav1{
    background: wheat;
    padding: 20px;
    padding-top: 2px;
    height: 80%;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 10%;
    z-index: 0;
    left: 400px;
    border-radius: 8px;
}
h1{
    background: tomato;
    padding: 40px;
    padding-top: 20px;
    height: 55%;
    box-sizing: border-box;
    width: 20px;
    position: absolute;
    top: 8%;
    display: flex;
    left: 313px;
    border-radius: 8px;
    font-size: 1.3em;
    cursor: pointer;
    color: black;   
}
ul{
    background: springgreen;
    padding: 40px;
    padding-top: 20px;
    height: 75%;
    box-sizing: border-box;
    width: 280px;
    position: absolute;
    top: 25%;
    display: block;
    border-radius: 8px;
    cursor: pointer;
    color: darkmagenta;
    font-size: 1em; 
    left: 200px;  
    cursor: default;
}
#tickets{
    background: greenyellow;
    padding: 40px;
    padding-top: 10px;
    height: 15%;
    box-sizing: border-box;
    width: 200px;
    position: absolute;
    top: 30%;
    display: flex;
    border-radius: 8px;
    font-size: 1.3em;
    cursor: pointer;
    color: darkgreen;
}
    